@import './settings.scss';
nav {
    text-align: center;
  }
  .menu {
    display: inline-block;
  }
  .menu > li {
    float: left;
    color: $color-1;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 17px;
  }
  .sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  .sub-menu li {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px 0;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  a {
    color: $color-1;
  }
  .sub-menu li:last-child {
    border-bottom: 0;
  }
  .sub-menu li:hover {
    background: black;
  }
  .menu > li:hover .sub-menu li {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu {
    transform: scale(1);
  }

body {
    margin: 0;
    padding: 10px;

    header {
 
        ul {

            a{
                color: black;
            }
        }
        width: 100%;
        height: 200px;
        background: url('../pictures/header-SEO.jpg');

        @import './navbar.scss';

        h1 {
            text-align: center;
            font-size: 1.5rem;
            line-height: 100px;
        }
        @media screen and (min-width: 786px) {
            h1 {
                font-size: 3rem;              
            }
            
        }
    } //End header

    main {
        h2 {
            text-align: center;
            color: blue;
        }
    } //End main

    footer {
        background-color: black;

        h2 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            padding: 0;

            li {

                a {
                    text-decoration: none;
                    color: #FF5959
                }
            }
        }
    } //End footer
}
#img1{
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* width: 1200px; */
}
/********** navbar ***********/
nav {
    text-align: center;
}
.menu {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}
.menu > li {
text-transform: uppercase;
padding-top: 20px;
width: 140px;
height: 40px;
cursor: pointer;
/* font-size: 18px; */
font-weight: 300;
text-decoration: none;
margin-top: 20px;
margin-bottom: 30px;
}
.sub-menu {
transform: scale(0);
transform-origin: top center;
transition: all 300ms ease-in-out;
}
.sub-menu li {
list-style-type: none;
font-size: 14px;
background: rgba(0, 0, 0, 0.8);
padding: 30px 0px;
width: 150px;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
transform: scale(0);
transform-origin: top center;
transition: all 300ms ease-in-out;
}
.sub-menu li a{
color: white;
text-decoration: none;
}
a{
color: grey;
text-decoration: none;
}
.sub-menu li:last-child {
border-bottom: 0;
}
.sub-menu li:hover {
background: black;
}
.menu > li:hover .sub-menu li {
transform: scale(1);
}
.menu > li:hover .sub-menu {
transform: scale(1);
}
/********** main ***********/

.inside{
width: 1000px;
display: block;
margin:  0 auto;
}
.inside img{
width: 450px;
margin: 0px 50px;
}
.inside ul{
margin: 40px 0px;
}
.inside > li{
margin: 20px 0px;
font-size: 20px;
}
/* .img1{
width: 450px;
margin-right: 50px;
} */
.block-flex{
display: flex;
align-items: center;
border-bottom: 2px solid #5270ff;
padding-bottom: 50px;
}
.block-right{
display: flex;
align-items: center;
border-bottom: 2px solid #5270ff;
padding-bottom: 50px;
}
.block{
border-bottom: 2px solid #5270ff;
padding-bottom: 50px;
}
.icons{
display: flex;
justify-content: space-around;

}
.icons > img{
padding: 35px 0px;
width: 120px;
}
.back{
display: block;
margin: auto 0;
text-align: center;
}

/********** text ***********/

h2{
text-align: center;
font-size: 45px;
color: grey;
font-weight: 900;
padding: 30px 0px;
}
p{
font-weight: 200;
font-size: 18px;
line-height: 25px;
}
span{
color: #5270ff;
}
strong{
color: #5270ff;
font-weight: 500;
}

/* footer */

.footer #button{
width:35px;
height:35px;
border: #727172 12px solid;
border-radius:35px;
margin:0 auto;
position:relative;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.footer #button:hover{
width:35px;
height:35px;
border: #3A3A3A 12px solid;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
position:relative;
}
.footer {
bottom:0;
left:0;
position:fixed;
width: 100%;
height: 2em;
overflow:hidden;
margin:0 auto;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
z-index:999;
}
.footer:hover {
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
height: 10em;
}
.footer #container{
margin-top:5px;
width:100%;
height:100%;
position:relative;
top:0;
left:0;
background: #3A3A3A;
}
.footer #cont{
position:relative;
top:-45px;
right:190px;
width:150px;
height:auto;
margin:0 auto;
}
.footer_center{
width:500px;
float:left;
text-align:center;
}
.footer h3{
font-family: 'Helvetica';
font-size: 30px;
font-weight: 100;
margin-top:70px;
margin-left:40px;
}
#img1{
    margin: 0 auto;
    display: block;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
}
/********** navbar ***********/
nav {
    text-align: center;
}
.menu {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}
.menu > li {
text-transform: uppercase;
padding-top: 20px;
width: 140px;
height: 40px;
cursor: pointer;
/* font-size: 18px; */
font-weight: 300;
text-decoration: none;
margin-top: 20px;
margin-bottom: 30px;
}
.sub-menu {
transform: scale(0);
transform-origin: top center;
transition: all 300ms ease-in-out;
}
.sub-menu li {
list-style-type: none;
font-size: 14px;
background: rgba(0, 0, 0, 0.8);
padding: 30px 0px;
width: 150px;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
transform: scale(0);
transform-origin: top center;
transition: all 300ms ease-in-out;
}
.sub-menu li a{
color: white;
text-decoration: none;
}
a{
color: grey;
text-decoration: none;
}
.sub-menu li:last-child {
border-bottom: 0;
}
.sub-menu li:hover {
background: black;
}
.menu > li:hover .sub-menu li {
transform: scale(1);
}
.menu > li:hover .sub-menu {
transform: scale(1);
}
/********** content ***********/

main{
width: 1000px;
display: block;
margin:  0 auto;
}
.block{
border-bottom: 3px solid #5270ff;
padding-bottom: 30px;
}
.block  li{
margin: 20px 0px;
font-size: 20px;
}

/********** text ***********/
h1{
font-size: 50px;
color: #5270ff;
text-align: center;
padding-bottom: 50px;
}
h2{
padding: 50px 0;
}
h3{
text-align: center;
font-size: 40px;
color: grey;
font-weight: 900;
padding: 50px 0 20px 0;
}
h4{
color:grey;
padding-top: 25px;
}
p{
font-weight: 300;
}
span{
color: #5270ff;
margin: 50px 0px;
font-weight: 500;
}
strong{
color: #5270ff;
font-weight: 500;
}
/********** footer ***********/
footer{
width:100%;
height: 150px;
background-color: #5270ff;
}